extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="/pets", method="post", id="new-pet")
        .form-group
            label Name
            input.form-control(name="name")
        .form-group
            label Birthday
            input.form-control(name="birthday")
        .form-group
            label Species
            input.form-control(name="species")
        .form-group
            label Avatar*
            input.form-control(name="avatar", type="file" required) 
        .form-group
            label Favorite Food
            input.form-control(name="favoriteFood") 
        .form-group
            label Description
            textarea.form-control(name="description")  
        .form-group 
            label Price* 
            textarea.form-control(name="price" require type="number")
        button(type="submit").btn.btn-primary Save